<!DOCTYPE html>
<html>
<head>
	<title>My Movies - Add Movie</title>
</head>
<body>
	<h5> Add New Movie </h5>
		<form>	
			<lable for="title">Title:</lable>
				<input type="text" name="title">
			<lable for="director">Director:</lable>
				<input type="text" name=director>
			<lable for="year">Year published</lable>
				<input type="text" name="year">
				<input type="submit">
		</form>
		<a href="/movies">Back to index</a>		
</body>
</html>